@keyframes skeleton-loading {
  100% {
    transform: translateX(100%);
  }
}

.skeleton {
  position: relative;
  width: 100%;

  --base-color: #ecedf1;
  --highlight-color: #f6f6f6;
  --animation-duration: 1.5s;
  --animation-direction: normal;
  --pseudo-element-display: block; /* Enable animation */
  background-color: var(--base-color);
  border-radius: 0.25rem;
  line-height: 1;
  user-select: none;
  overflow: hidden;
}

.skeleton::after {
  display: var(--pseudo-element-display);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  content: ' ';

  height: 100%;

  background-repeat: no-repeat;
  background-image: linear-gradient(
    90deg,
    var(--base-color),
    var(--highlight-color),
    var(--base-color)
  );
  transform: translateX(-100%);

  animation-name: skeleton-loading;
  animation-direction: var(--animation-direction);
  animation-duration: var(--animation-duration);
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

